<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FirmaEntities" connectionString="metadata=res://*/Models.Entities.ModelFaktury.csdl|res://*/Models.Entities.ModelFaktury.ssdl|res://*/Models.Entities.ModelFaktury.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP\SQLEXPRESS;initial catalog=FirmaProject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>